body {
  background-color: rgb(202, 202, 202);
}

.page {
  margin: 100px auto;
  padding: 8px;
  width: 630px;
  background-color: white;
  font-size: 14px;
}

/* header */

.header {
  text-align: right;
}


.header h4 {
  margin: 0;
}

.header span {
  font-style: italic;
}

/* main */

.main_text {
  font-family: 'Bad Script', cursive;
  text-indent: 1.3em;
  text-align: justify;
}

.main_text h3 {
  text-decoration: underline;
}
