.code{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
}

.some_margins{
    margin-top: 24px;
    margin-bottom: 24px;
}

.other_margins{
    margin-top: 20px;
    margin-bottom: 20px;
}

.third_margin{
    margin-top: 30px;
    margin-bottom: 24px;
}

.funny_text{
    font-size: 120%;
}
