body {
  background-color: rgb(139, 139, 139);
}

.card_block {
  margin-top: 100px;
  margin-left: -144px;
  text-align: center;
}

.card_1_1 {
  display: inline-block;
  width: 138px;
  height: 188px;
  background: url("cards.png") -145px -200px;
}

.card_1_2 {
  margin-left: 70px;
  width: inherit;
  height: inherit;
  background: url("cards.png") -433px -598px;
}

.card_1_3 {
  margin-left: inherit;
  width: inherit;
  height: inherit;
  background: url("cards.png") -289px -1394px;
}

.card_block2 {
  width: 400px;
  height: 188px;
  margin: 100px auto;
  text-align: center;
}

.card_2_1 {
  display: inline-block;
  height: inherit;
  width: 138px;
  background: url("cards.png") -145px -200px;
}

.card_2_2 {
  display: inline-block;
  height: inherit;
  width: 138px;
  margin-left: -70px;
  background: url("cards.png") -433px -598px;
}

.card_2_3 {
  display: inline-block;
  height: inherit;
  width: 138px;
  margin-left: -70px;
  background: url("cards.png") -289px -1394px;
}
