* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper{
	margin-top: 30px;
}

.menu li {
  width: 110px;
  list-style: none;
  position: relative;
}

.menu__list {
  display: flex;
}

.menu__item, .sub-menu__item {
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  color: #808094;
  background-color: #d3d3d3;
  cursor: pointer;
}

.menu__list li:hover .sub-menu__list{
  display: block;
  z-index: 1;
}

.menu__item:hover{
  background-color: #808094;
  color: #d3d3d3;
}

.sub-menu__item:hover {
  background-color: #808094;
  color: #d3d3d3;
}

.sub-menu__list {
  display: none;
  position: absolute;
  top: 30px;
}

@media all and (max-width: 660px) {
  .menu__list {
    flex-direction: column;
  }

  .sub-menu__list {
    left: 110px;
    top: 0;
  }
}
